* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-size: 16px;
  position: relative;
}
ul {
  list-style: none;
}

button{
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7% 15px 7%;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 20px;
  width: 30%;
}
.header .logo img:first-child {
  width: 25px;
}
.header .logo img {
  width: 200px;
}
.header .cart-account {
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.left-container img{
  width: 368px;
}

.right-container{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.right-container p{
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;
  margin-bottom: 8px;
}

.right-container .rate{
  width: 351.1px;
  height: 40px;
  margin-bottom: 32px;
}
.right-container-trash{
  display: flex;
  
}
.product{
  display: flex;
  gap: 100px;
  padding-left: 7%;
  flex-wrap: wrap;
  padding-right: 7%;
}

.product .price{
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  margin-bottom: 30px;
}
.product .price .old-price{
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  color: #374151;
  text-decoration: line-through;
  
}

.available-products .available-img img{
  width: 72px;
  height: 72.84px;
}

.available-sizes img{
  width: 72px;
  height: 40px;
  margin-top: 10px;
}
.color-size-cart{
  display: flex;
  gap: 20px;
  margin-top: 16px;
}
.btn-add button{
  background-color: #1a1a1d;
  height: 50px; 
  width: 350px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 27px;   
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  margin-bottom: 50px;
}
.btn-buy button{
  background-color: #1a1a1d;
  height: 50px; 
  width: 250px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 27px;   
  font-weight: 700;
  line-height: 39px;
  text-align: center;
}

/* inicio do modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f5f5f5;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
.modal-all-items{
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  margin-block: 48px;
}
.left-container-modal{
  display: flex;
  width: 50%;
}
.finish-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  
}
.finish-modal .product-description{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-align: left;
  /* margin-top: -50px; */
  
}
.finish-modal .selected-size{
  text-align: center;
  height: 20px;
  width: 40px;
  border: 1px solid #000000;
  border-radius: 7px;
}
.left-container-modal img{
  margin-bottom: -80px;
  margin-top: 15px;
  width: 132px;
  height: 172px;
}
.right-container-modal{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.right-container-modal p{
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;
  margin-bottom: 8px;
}
.modal-all-items{
  padding-left: 7%;
}
.product-modal{
  display: flex;
  gap: 100px;
  padding-left: 7%;
  flex-wrap: wrap;
  padding-right: 7%;
}
.color, .color-modal{
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}
.price-modal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -30px;
}
.btn-input-trash{
  display: flex;
  align-items: center;
}
.btn-input-trash button{
  width: 40px;
  height: 40px;
  border: 0.47px solid #000000;
  background-color: #ffffff;
}
.btn-input-trash input{
  width: 70px;
  height: 40px;
  border: 0.47px solid #000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.trash-img{
  margin-top: -145px;
}
.trash-img img{
  width: 32px;
  height: 32px;
}
.price-trash{
  margin-top: 42px;
}
.price-trash span{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  
}
.btn-buy{
  width: 448px;
  height: 290px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: #ffffff;
  padding: 32px;
  border-radius: 7px;
}
.btn-buy h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  
}
.btn-buy .total-value{
  text-align: right;
  margin-top: 26px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
}

.btn-buy button{
  width: 384px;
  height: 72px;
  margin-top: 60px;
  border-radius: 17.59px;
}

/* final do modal */

@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0% 15px 7%;
  }
  .header .logo {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 20px;
    width: 20%;
  }
  .header .logo img:first-child {
    width: 20px;
  }
  .header .logo img {
    width: 150px;
  }
  .header .cart-account {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-right: .75rem;
  }
  .right-container-modal p{
    font-size: 1.1rem;
    line-height: 25px;
  }
}

@media (max-width: 480px){
  .header .logo img:first-child {
    width: 15px;
  }
  .header .logo img {
    width: 120px;
  }
  .header .cart-account img {
    width: 20px;
  }
  .modal-content{
    width: 92%;
    border-radius: 5px;
  }
  .btn-buy{
    width: 105%;
  }
  .btn-buy .complete-purchase{
    width: 100%;
    min-height: 60px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    
  }
  .right-container-modal p{
    font-size: .8rem;
    line-height: 20px;
    width: 250px;
  }
  
}