* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: #f5f5f5;
  font-size: 16px;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7% 15px 7%;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 20px;
  width: 30%;
}
.header .logo img:first-child {
  width: 13%;
}
.header .logo img {
  width: 100%;
}
.header .cart-account {
  display: flex;
  align-items: center;
  gap: 3rem;
}

main .sales {
  background-image: url("../img/gradient.svg"), url("../img/capa.svg");
  width: 100%;
  height: 708px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent-off {
  display: flex;
  flex-direction: column;
  padding-right: 20%;
}

.percent-off h1 {
  font-size: 148px;
  font-weight: 500;
  line-height: 180px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
}

.percent-off span {
  font-size: 208px;
  font-weight: 700;
  line-height: 254px;
  letter-spacing: 0.02em;
  text-align: right;
}

.cards {
  padding: 15px 7% 15px 7%;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 116px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 472px;
  background-color: #ffffff;
}
.card img {
  height: 375.1px;
  width: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;
}
.card-info span {
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
}
.card-info span:nth-child(2) {
  color: #9ca3af;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-btn button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.price-btn button img {
  width: 19px;
  height: 19px;
}
.conjuntos {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-left: 7%;
}
.clothes-type {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.05em;
  text-align: left;
}
