* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-size: 16px;
  position: relative;
}
ul {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7% 15px 7%;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 20px;
  width: 30%;
}
.header .logo img:first-child {
  width: 13%;
}
.header .logo img {
  width: 100%;
}
.header .cart-account {
  display: flex;
  align-items: center;
  gap: 3rem;
}

main .sales {
  background-image: url("../img/gradient.svg"), url("../img/capa.svg");
  width: 100%;
  height: 708px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent-off {
  display: flex;
  flex-direction: column;
  padding-right: 20%;
  width: 64.9%;
}

.percent-off h1 {
  font-size: 9.25rem;
  font-weight: 500;
  line-height: 180px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
}

.percent-off span {
  font-size: 13rem;
  font-weight: 700;
  line-height: 254px;
  letter-spacing: 0.02em;
  text-align: right;
}
.swiper {
  width: 80%;
  height: 472px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px !important;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards {
  padding: 15px 7% 15px 7%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: 472px;
  background-color: #ffffff;
}
.card img {
  height: 375.1px;
  width: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.card-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #374151;
}
.card-info span {
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
}
.card-info span:nth-child(2) {
  color: #9ca3af;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price-btn button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  border-radius: 50%;
}

.price-btn button img {
  width: 19px;
  height: 19px;
}
.conjuntos {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-left: 7%;
  margin-block: 25px ;
}
.clothes-type {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.05em;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 62px 50px;
  min-width: 100%;
  background-color: #f9fafb;
  gap: 10%;
  margin-top: 100px;
}

.footer h3 {
  font-family: "Euclid" "Circular" sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #1f2937;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right-container {
  padding-right: 100px;
}

.info-support-care {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding-inline: 7%;
}

.info,
.support,
.care {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.info{
  margin-bottom: 23px;
}
.care{
  margin-bottom: 23px;
}
.info-support-care h3 {
  margin-block: 8px;
}
.info-support-care li {
  margin-block: 8px;
}

.copy-privacy {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  justify-content: start;
  margin-top: 113px;
}
.copy-privacy p {
  font-family: "Euclid" "Circular" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #6b7280;
  margin-bottom: 24px;
}

.copy-privacy ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.copy-privacy li {
  font-family: "Euclid" "Circular" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 2.2px;
  color: #6b7280;
  margin-bottom: 16px;
}

.copy-privacy ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
}

.socials-platforms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.socials ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 41px;
}

.platforms {
  display: flex;
  align-items: center;
}

.platforms ul {
  display: flex;
  gap: 1rem;
}
.subscribe h4 {
  font-family: "Euclid" "Circular " sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 5px;
}

.input-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.input-btn input {
  width: 60%;
  height: 44px;
  padding: 13px, 16px, 13px, 16px;
  border: 2px solid #9ca3af;
  gap: 10px;
  border-radius: 2px;
  padding-left: 15px;
  font-weight: 700;
}
.input-btn button {
  width: 138px;
  height: 43px;
  padding: 13px 30px 13px 30px;
  background-color: #1f2937;
  border: none;
  cursor: pointer;
  font-family: "ABeeZee";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
}

.payment-list {
  display: flex;
  align-items: center;
}

.payment-list ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.notice {
  margin-bottom: 62px;
}

.accept-text {
  font-family: "Euclid" "Circular" sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 24px;
}
.socials-mobile-icons{
  display: none;
}
@media (max-width: 1024px) {
  .card {
    min-width: 40%;
  }
  main.sales {
    background-size: contain;
  }
  main .sales img {
    margin-left: 200px;
  }
  .footer{
    padding: 62px 0px;
    gap: 4%;
  }
  .info-support-care{
    gap: 10px;
  }
  .info{
    margin-bottom: 30px;
  }
  .info ul{
    gap: 5px;
    font-size: .9rem;
  }
  .support ul{
    gap: 5px;
    font-size: .9rem;
  }
  .care 
  {
    margin-bottom: 30px;
  }
  .care ul{
    gap: 5px;
    font-size: .9rem;
  }
  .input-btn input{
    width: 70%;
  }
  .input-btn button{
    width: 120px;
  }
  .copy-privacy .first-ul li{
   font-size: .8rem
  }
}
@media (max-width: 834px) {
  .percent-off {
    margin-right: 200px;
  }
  .percent-off h1,
  .percent-off span {
    font-size: 9rem;
  }
  .copy-privacy{margin-top: 75px;}
  .socials ul {
    gap: .8rem;
  }
  .info{
    margin-top: 25px;
  }
  .info ul{
    gap: 5px;
    font-size: .8rem;
  }
  .support ul{
    gap: 5px;
    font-size: .8rem;
  }
  .care 
  {
    margin-bottom: 30px;
  }
  .care ul{
    gap: 5px;
    font-size: .8rem;
  }
  /* .copy-privacy .first-ul li{
    font-size: .8rem */
  }
  .input-btn input{
    width: 70%;
  }
  .input-btn button{
    width: 30%;
    padding-right: 5px;
   display: flex;
   justify-content: center;
   margin-right: 10px;
  }
  .right-container{
    padding-right: 3%;
  }

@media (max-width: 712px) {
  
  .socials ul {
    gap: .8rem;
  }
  .info{
    margin-top: 45px;
  }
.copy-privacy{margin-top: 58px;}
  .input-btn input{
    width: 70%;
  }
  .input-btn button{
    width: 30%;
    padding-right: 5px;
   display: flex;
   justify-content: center;
   margin-right: 10px;
  }
}


@media (max-width: 480px) {
  .percent-off {
    width: 100%;
    margin-left: 200px;
    margin-top: 70px;
  }
  .percent-off h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 49px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .percent-off span {
    font-size: 57px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .sales {
    max-height: 193.22px;
  }
  main .sales {
    background-size: cover;
  }
  main .sales img {
    margin-left: 10px;
    width: 88.43px;
    height: 49px;
    margin-bottom: 80px;
    margin-left: 200px;
  }
  .footer{
    padding: 0px;
    gap: 6%;
    height: 393px;
  }
  .info-support-care{
    gap: 10px;
    padding-left: 5px;
  }
  .info-support-care h3{
    font-size: .75rem;
  }
  .info{
    margin-bottom: 80px;
  }
  .info ul{
    gap: 5px;
    font-size: .7rem;
  }
  .support ul{
    gap: 5px;
    font-size: .7rem;
  }
  .care 
  {
    margin-bottom: 70px;
  }
  .care ul{
    gap: 5px;
    font-size: .7rem;
  }
  .copy-privacy {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    justify-content: center;
    margin-top: 35px;
  }
  .copy-privacy p {
    font-family: "Euclid" "Circular" sans-serif;
    font-size: 13px;
  }
  .copy-privacy ul {
    gap: 1rem;
  }
  .copy-privacy .first-ul li{
   font-size: .64rem;
  }
  .copy-privacy .second-ul li{
   font-size: .7rem
  }
  .socials-platforms{
    margin-top: 50px;
  }
  .socials-platforms h3{
    justify-content: center;
    gap: 10px;
    font-size: .75rem;
  }
  .socials-platforms h3:first-child{
    margin-left:10px;
  }
  .socials-platforms h3:last-child{
    margin-left: 2.5rem;
  }
  .platforms img{
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
  }
  .socials{
    display: flex;
    max-width: 90px;
    margin-left: 7px;
  }
  .socials ul{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .socials img{
    width:25px;
    height:25px;
  }
  .subscribe h4{
    font-size: .75rem;
    margin-top: -20px;
    margin-left: 10px;
  }
  .input-btn{
    display: flex;
    flex-direction: column;
  }
  .input-btn input{
    width: 95%;
    height: 30px;
    margin-bottom: 8px;
  }
  .input-btn button{
    width: 95%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-left: 10px;
  }
  .notice{
    margin-bottom: 10px;
  }
  .notice p, a{
    font-size: .75rem;
  }
  .accept-text{
    margin-bottom:2px;
  }
  .payment-list li{
    height: 40px;
    margin: 0;
    padding: 0;
  }
  .payment-list img{
    width: 28.65px;
    height: 25.73px;
  }
 
  .left-container{
    padding-left: 1px;
  }
  .right-container{
    padding-right: 4px;

  }
}
