* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  list-style: none;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7% 15px 7%;
}
.header .logo {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-right: 20px;
  width: 30%;
}
.header .logo img:first-child {
  width: 13%;
}
.header .logo img {
  width: 100%;
}
.header .cart-account {
  display: flex;
  align-items: center;
  gap: 3rem;
}

main .sales {
  background-image: url("../img/gradient.svg"), url("../img/capa.svg");
  width: 100%;
  height: 708px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent-off {
  display: flex;
  flex-direction: column;
  padding-right: 20%;
}

.percent-off h1 {
  font-size: 148px;
  font-weight: 500;
  line-height: 180px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 30px;
}

.percent-off span {
  font-size: 208px;
  font-weight: 700;
  line-height: 254px;
  letter-spacing: 0.02em;
  text-align: right;
}
